extends layout

block header
    include header
block content
    a(href='/products' title='List Products') List Products
    h1 Products
    table(class="table")
        thead
            th Title
            th Description
            th Price
            th Edit
            th Delete
        tbody
            each product in allProducts
                tr
                    td #{product.title}
                    td #{product.description}
                    td #{product.price}
                    td
                        a(href="/products/edit/"+product._id)
                            |Edit
                    td
                        a(href="/products/delete/"+product._id title="Delete" onclick="return confirm(\'Are you sure you want to delete this product?\');")
                            |Delete
